<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
            </div>
            <div class="container">
               
                    <ul class="nav nav-tabs">
                        <li id="myname-tab" class="active"><a href="@Url.Action("Index", "Home")">Nathan Rogers</a></li>
                        <li id="prof-tab"><a href="@Url.Action("Professional", "Professional")">Professional</a></li>
                        <li id="personal-tab"><a href="@Url.Action("Personal", "Personal")">Personal</a></li>
                        <li id="work-tab"><a href="@Url.Action("MyWork", "Work")">Work</a></li>
                        <li id="contact-tab"><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                    </ul>
                
            </div>
        </div>
   
    <div class="container body-content">
        <div id ="page-content">
            @RenderBody()
        </div>
        <hr />
        <div class="media-icons pull-right">

            <a href="https://www.linkedin.com/in/nathandrogers" target="_blank"><img src="~/Content/Media/blueprints.png" /></a>
            <a href="https://www.facebook.com/nathan.rogers.39982" target="_blank"><img src="~/Content/Media/facebook-128.png" /></a>
            <a href="https://github.com/nathan-rogers" target="_blank"><img src="~/Content/Media/github-128.png" /></a>
            <a href="https://twitter.com/nathandrogers" target="_blank"><img src="~/Content/Media/twitter-128.png" /></a>

        </div>
        <footer>
            <p>&copy; @DateTime.Now.Year - Nathan Rogers</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
